.elements__group_like_active {
  background-image: url(../../../../images/Union.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  width: 24px;
  height: 19px;
  margin-bottom: 3px;
}
.elements__group_like_active:hover {
  cursor: pointer;
  opacity: 0.5;
}
