.profile__edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: 19px;
  margin-top: 17px;
  border: solid 1px white;
  background: transparent;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 660px) {
  .profile__edit-button {
    margin-left: 8px;
  }
}

@media screen and (max-width: 400px) {
  .profile__edit-button {
    margin: 35px 0 0 0;
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  transition: 0.3s ease;
  opacity: 0.6;
}
