.popup__input-error {
  display: flex;
  font-size: 12px;
  line-height: 15px;
  padding: 0 36px;
  width: 358px;
  margin: 5px auto 43px;
  color: #FF0000;
}

@media screen and (max-width: 500px) {
  .popup__input-error {
    width: 238px;
    padding: 0 22px;
  }
}