.page {
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
  max-width: 100%;
  min-height: 100vh;
  padding-top: 45px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1000px) {
  .page {
    padding: 28px 0 0 0;
  }
}