.popup__confirm {
  margin: 0px 36px 36px 36px;
  width: 358px;
  height: 23px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 540px) {
  .popup__confirm {
    width: 238px;
    height: 22px;
  }
}