.profile__subtitle {
  margin: 16px 0 0 0;
  max-width: 336px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  grid-row: 2/3;
  grid-column: 1/3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

@media screen and (max-width: 690px) {
  .profile__subtitle  {
    max-width: 180px;
    margin: 14px auto 36px auto;
    background-size: 7.5px 7.5px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}