.header__logo {
    margin-bottom: 40px;
  }
  
  @media screen and (max-width: 400px) {
    .header__logo {
      margin: 0 0px 0px 30px;
      width: 103px;
      height: 25px;
      margin-bottom: 30px;
    }
  }
  