.profile__role{
  margin: 0;
  color: #fff;
  font-weight: normal;
  max-width: 336px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .profile__role {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    text-align: center;
  }
}