.popup__container {
  position: relative;
  background-color: #fff;
  max-width: 430px;
  border-radius: 10px;
  margin: auto;
  padding: 34px 0 37px;
}


@media screen and (max-width: 500px) {
  .popup__container {
    margin: auto 18px;
    padding: 25px auto;
    align-items: center;
  }
}