.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-self: center;
  }
  
  @media screen and (max-width: 400px) {
    .profile__info {
      width: 100%;
      justify-content: center;
    }
  }
  