.elements__cell-title {
    padding: 0;
    margin: 0 0 0 20px;
    align-self: center;
    width: 180px;
    grid-column: 1/2;
    grid-row: 2/3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    line-height: 29.05px;
  }
  